<div class="topbar">
<nav>
    <img src="/static/images/logo_text.png" />
    <ul class="topnav">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/attractions.html">Attractions</a></li>
    <li><a href="/restaurants.html">Restaurants</a></li>
    <li><a href="/accommodation.html">Accommodation</a></li>

  </ul>
  <div>
    {% if current_user.is_authenticated %}
    Welcome  {{current_user.username}}
    <a href="/log_out"><button>Log Out</button></a>
    {% else %}
    <a href="/log_in.html"><button>Log In</button></a>
    <a href="/register.html"><button>Register</button></a>
    {% endif %}
    </div>
  </nav>
  </div>
