{% extends 'layout.html' %} {% block content %}
<div class="line"></div>

<h2>Attractions</h2>
<div class="container">
    {% for row in attractions %}
    <a
      class="card-link-wrapper"
      href="{{ url_for('listing_detail', listing_id=row['Listings_ID']) }}"
    >
      <div class="card">
        <img
          class="card-image"
          src="{{ row['Image'] }}"
          alt="Image of {{ row['Title'] }} not loaded."
        />
        <h1 class="card-name">{{ row['Title'] }}</h1>
        <p class="card-about">{{ row['Description'] }}</p>
      </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
