{% extends 'layout.html' %} {% block content %}
<div class= "line">
</div>

<section class="search">
  <div class= "search-content"></div>
    <h2>Start your journey</h2>
    <form class="search-form" method="GET" action="/search">
      <input type="text" name="q" placeholder="Search..." />
      <button type="submit">Search</button>
    </form>
</section>

<div class="container">
    {% for row in content %}
<div class="card">
  <img
    class="card-image"
    src= "{{ row[5] }}"
    alt="Image of {{ row[1] }} not loaded."
  />
  <h1 class="card-name">{{ row[1] }}</h1>
  <p class="card-about">{{ row[3] }}</p>
  <a href="{{ url_for('attraction_detail', listing_id=row[0]) }}">Read more</a>
</div>
{% endfor %}
</div>
{% endblock %}
