{% extends 'layout.html' %} {% block content %}

<div class="gallery">
  {% for url in images %}
  <div class="gallery-item">
    <img src="{{ url }}" alt="Photo of {{ listing.Title }} #{{ loop.index }}" />
  </div>
  {% endfor %}
</div>

<div class="hero-info">
  <h1>{{ listing.Title or listing.Title }}</h1>
  <p class="location">{{ listing.Location }}</p>
  <p class="price">${{ listing.Price }}</p>
  <p class="opening-hours">Opening Hours: {{ listing.Opening_Hours }}</p>
  <p class="description">{{ listing.Description }}</p>
</div>

<div class="post-container">
  {% for row in posts %}
    <div class="post-card">
      <p class="post-card-username">{{ row[''] }}</p>
      <p class="post-card-date">{{ row['Date'] }}</p>
      <p class="post-card-text">{{ row['Text'] }}</p>
    </div>
  {% endfor %}
</div>

{% endblock %}
